@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Đăng tin bất động sản";
}
<div class="span12">
    <div class="blog blogin">
        <p class="combtn">
            <a href="#" class="probtn com"><span class="icon-pencil"></span></a><a href="#" class="counter">
                <span class="icon-comment"></span>3</a>
        </p>
        <h2>
            <a href="/">Cảm ơn bạn đã đăng bài! Bài viết của bạn sẽ được kiểm duyệt và đăng lên trong thời gian sớm nhất</a></h2>
    </div>
</div>
