@model List<NationalIT.MoneyFilter>
<div class="row-fluid">
    <div class="span12">
        <h3>
            Bộ lọc số tiền</h3>
        <div class="row-fluid">
            @Html.Partial("_MenuButtonNewEditOrDelete")
        </div>
        <table class="table">
            <tr>
                <th>
                    <input type="checkbox" name="" value="" class="checkAll" />
                </th>
                <th>
                    Số tiền từ (Triệu)
                </th>
                <th>
                    Đến (Triệu)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="checkOwner" value="@item.ID" class="checkitem"/>
                    </td>
                    <td>
                        @Html.ActionLink(item.From.ToString(), "NewOrEdit", new { id = item.ID })
                    </td>
                    <td>
                        @Html.ActionLink(item.To.ToString(), "NewOrEdit", new { id = item.ID })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
