<div class="span9">
    <div class="span12">
        <div class="span4">
            Lọc BĐS theo khu vực
            <select class="filter-post select-khuvuc">
                <option value="1">123456</option>
                <option value="1">1234567</option>
            </select>
        </div>
        <div class="span4">
            Lọc BĐS theo loại hình
            <select>
                <option>123456</option>
                <option>1234567</option>
            </select>
        </div>
        <div class="span4">
            Lọc BĐS theo giá tiền
            <select>
                <option>123456</option>
                <option>1234567</option>
            </select>
        </div>
    </div>
</div>
