@model List<NationalIT.Cate>
@using NationalIT;
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.Title = "Viegrid Times";
    var db = NationalIT.DB.Entities;
}
<div class="container">
    <div class="row">
        <div class="col-md-12  top-buffer">
            <div class="col-md-8 panel-details">
                <div class="postpadding">
                    <h2 class="title">
                        Đại gia, bác sĩ thẩm mỹ tuyên bố yêu Angela Phương Trinh là ai?
                    </h2>
                    <p class="date">07/01/2015
                    </p>
                    <div class="content">
                        Mới đây, ngay sau khi bác sĩ Chiêm Quốc Thái lên Facebook của mình với, dư luận
                        gần như "bùng nổ" trước tin tức gần như hot nhất những ngày đầu tiên của năm 2015
                        này. Ngay lập tức, những chuyện đời tư của vị bác sĩ nổi tiếng này đã được cư dân
                        mạng "mổ xẻ" với tốc độ chóng mặt và gây nhiễu loạn.<div>
                            <div style="text-align: center;">
                                <img src="http://k14.vcmedia.vn/k:TgUb2Otv11o3gL2MAmkXGn6j8ZA8el/Image/2015/01/8-7e078/dai-gia-bac-si-tham-my-tuyen-bo-yeu-angela-phuong-trinh-la-ai.jpg"
                                    alt="Đại gia, bác sĩ thẩm mỹ tuyên bố yêu Angela Phương Trinh là ai? 1" title="Đại gia, bác sĩ thẩm mỹ tuyên bố yêu Angela Phương Trinh là ai? 1"
                                    lb="1" style="cursor: none;"></div>
                            <div style="text-align: center;">
                                <i>Bác sĩ Chiêm Quốc Thái là gương mặt nổi bật trong giới phẩu thuật thẩm mỹ Sài Gòn</i><br>
                                <br>
                            </div>
                            <div>
                                Theo đó, bác sĩ Chiêm Quốc Thái là giám đốc của một bệnh viện thẩm mỹ rất nổi tiếng
                                tại Sài Gòn và bản thân vị bác sĩ sinh năm 1974 này cũng đã rất nổi tiếng từ lúc
                                còn làm ở bệnh viện Bình Dân. Bác sĩ Chiêm Quốc Thái nhận được sự ngưỡng mộ của
                                khá nhiều các đàn em trong ngành y. Khách hàng của ông gồm rất nhiều nghệ sĩ nổi
                                tiếng. Ngoài ra, theo một số nguồn tin thì bác sĩ Chiêm Quốc Thái đã có một đời
                                vợ.</div>
                            <div>
                                <i>
                                    <br>
                                </i>
                            </div>
                        </div>
                    </div>
                    <!-- Before - After Lightbox -->
                </div>
                <div class="related-news related-news-top">
                    <h3>
                        Các tin mới nhận</h3>
                    <ul>
                        <li class="item"><a href="/star/angela-phuong-trinh-khoe-anh-tuoi-roi-giua-on-ao-du-luan-2015010711471194.chn"
                            title="Angela Phương Trinh khoe ảnh tươi rói giữa ồn ào dư luân">Angela Phương Trinh
                            khoe ảnh tươi rói giữa ồn ào dư luân</a></li>
                        <li class="item"><a href="/star/bac-si-tham-my-bat-ngo-cong-khai-dang-yeu-angela-phuong-trinh-20150106081912772.chn"
                            title="Bác sĩ thẩm mỹ bất ngờ công khai đang yêu Angela Phương Trinh">Bác sĩ thẩm
                            mỹ bất ngờ công khai đang yêu Angela Phương Trinh</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="imgbanner">
                    <img src="http://chinhphu.vn/templates/govportal/chinhphu/images/banner_thutuong.jpg">
                </div>
                <div class="news">
                    <h3>
                        Các bài phát biểu của Thủ tướng</h3>
                    <ul>
                        <li>
                            <li class="item small clearfix">
                                <div class="img-new">
                                    <a title="Thành viên girlgroup mới sinh năm 1998 gây chú ý vì giống Jessica" href="/musik/thanh-vien-girlgroup-moi-sinh-nam-1998-gay-chu-y-vi-giong-jessica-20150106035532268.chn">
                                        <img class="avatar" title="Thành viên girlgroup mới sinh năm 1998 gây chú ý vì giống Jessica"
                                            alt="Thành viên girlgroup mới sinh năm 1998 gây chú ý vì giống Jessica" src="http://kenh14.vcmedia.vn/zoom/180_113/b5PLjxCEBcxai8yOBRqu8rXVeKDjdM/Image/2015/01/1/150106musicJESSICAava-e4258.jpg">
                                        <span class="icon"></span></a>
                                </div>
                                <div class="postcontent">
                                    <div class="subtitle fl">
                                    </div>
                                    <h4 class="title">
                                        <a href="/musik/thanh-vien-girlgroup-moi-sinh-nam-1998-gay-chu-y-vi-giong-jessica-20150106035532268.chn">
                                            Thành viên girlgroup mới sinh năm 1998 gây chú ý vì giống Jessica</a></h4>
                                </div>
                            </li>
                            <li class="item small clearfix">
                                <div class="img-new">
                                    <a title="Thành viên girlgroup mới sinh năm 1998 gây chú ý vì giống Jessica" href="/musik/thanh-vien-girlgroup-moi-sinh-nam-1998-gay-chu-y-vi-giong-jessica-20150106035532268.chn">
                                        <img class="avatar" title="Thành viên girlgroup mới sinh năm 1998 gây chú ý vì giống Jessica"
                                            alt="Thành viên girlgroup mới sinh năm 1998 gây chú ý vì giống Jessica" src="http://kenh14.vcmedia.vn/zoom/180_113/b5PLjxCEBcxai8yOBRqu8rXVeKDjdM/Image/2015/01/1/150106musicJESSICAava-e4258.jpg">
                                        <span class="icon"></span></a>
                                </div>
                                <div class="postcontent">
                                    <div class="subtitle fl">
                                    </div>
                                    <h4 class="title">
                                        <a href="/musik/thanh-vien-girlgroup-moi-sinh-nam-1998-gay-chu-y-vi-giong-jessica-20150106035532268.chn">
                                            Thành viên girlgroup mới sinh năm 1998 gây chú ý vì giống Jessica</a></h4>
                                </div>
                            </li>
                            <li class="item small clearfix">
                                <div class="img-new">
                                    <a title="Thành viên girlgroup mới sinh năm 1998 gây chú ý vì giống Jessica" href="/musik/thanh-vien-girlgroup-moi-sinh-nam-1998-gay-chu-y-vi-giong-jessica-20150106035532268.chn">
                                        <img class="avatar" title="Thành viên girlgroup mới sinh năm 1998 gây chú ý vì giống Jessica"
                                            alt="Thành viên girlgroup mới sinh năm 1998 gây chú ý vì giống Jessica" src="http://kenh14.vcmedia.vn/zoom/180_113/b5PLjxCEBcxai8yOBRqu8rXVeKDjdM/Image/2015/01/1/150106musicJESSICAava-e4258.jpg">
                                        <span class="icon"></span></a>
                                </div>
                                <div class="postcontent">
                                    <div class="subtitle fl">
                                    </div>
                                    <h4 class="title">
                                        <a href="/musik/thanh-vien-girlgroup-moi-sinh-nam-1998-gay-chu-y-vi-giong-jessica-20150106035532268.chn">
                                            Thành viên girlgroup mới sinh năm 1998 gây chú ý vì giống Jessica</a></h4>
                                </div>
                            </li>
                        </li>
                    </ul>
                </div>
                <div class="imgbannertwo">
                    <img src="http://chinhphu.vn/portal/pls/portal/docs/1/50006.JPG">
                </div>
                <div class="related-news bg-news related-news-top">
                    <h3>
                        Các tin mới nhận</h3>
                    <ul>
                        <li class="item"><a href="/star/angela-phuong-trinh-khoe-anh-tuoi-roi-giua-on-ao-du-luan-2015010711471194.chn"
                            title="Angela Phương Trinh khoe ảnh tươi rói giữa ồn ào dư luân">Angela Phương Trinh
                        </a></li>
                        <li class="item"><a href="/star/bac-si-tham-my-bat-ngo-cong-khai-dang-yeu-angela-phuong-trinh-20150106081912772.chn"
                            title="Bác sĩ thẩm mỹ bất ngờ công khai đang yêu Angela Phương Trinh">Angela Phương
                            Trinh</a></li>
                        <li class="item"><a href="/star/bac-si-tham-my-bat-ngo-cong-khai-dang-yeu-angela-phuong-trinh-20150106081912772.chn"
                            title="Bác sĩ thẩm mỹ bất ngờ công khai đang yêu Angela Phương Trinh">Angela Phương
                            Trinh</a></li>
                        <li class="item"><a href="/star/bac-si-tham-my-bat-ngo-cong-khai-dang-yeu-angela-phuong-trinh-20150106081912772.chn"
                            title="Bác sĩ thẩm mỹ bất ngờ công khai đang yêu Angela Phương Trinh">Angela Phương
                            Trinh</a></li>
                        <li class="item"><a href="/star/bac-si-tham-my-bat-ngo-cong-khai-dang-yeu-angela-phuong-trinh-20150106081912772.chn"
                            title="Bác sĩ thẩm mỹ bất ngờ công khai đang yêu Angela Phương Trinh">Angela Phương
                            Trinh</a></li>
                        <li class="item"><a href="/star/bac-si-tham-my-bat-ngo-cong-khai-dang-yeu-angela-phuong-trinh-20150106081912772.chn"
                            title="Bác sĩ thẩm mỹ bất ngờ công khai đang yêu Angela Phương Trinh">Angela Phương
                            Trinh</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
